<div>
  <section>
    {{#each blogs}}
      <article>
        <h2><a href="/api/blogs/{{this.id}}">{{this.title}}</a></h2>
        <p>{{this.content}}</p>
        <p>Author: {{this.author}}</p>
        <p>Date Created: {{this.date_created}}</p>
      </article>
      <hr>
    {{/each}}
  </section>
  <script src="/js/logout.js"></script>
  <script src="/js/comment.js"></script>
</div>