<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <div>
    <h2>Welcome to the Tech Spot</h2>
    <p>What would you like to talk about?</p>
<form id="post-form">
  <input type="text" id="title" placeholder="Title" required>
  <textarea id="content" placeholder="Content" required></textarea>
  <input type="hidden" id="username" value="{{user.username}}">
  <input type="hidden" id="user_id" value="{{user_id}}">
  <button type="submit">Post</button>
</form>
  </div>

  <div>
    <h2>Current Blogs</h2>
    <section>
      {{#each blogs}}
        <article>
          <h3>{{this.title}}</h3>
          <p>{{this.content}}</p>
          <p>Author: {{this.user_id}}</p>
          <p>Date Created: {{this.date_created}}</p>
        </article>
      {{/each}}
    </section>
  </div>

  <script src="/js/postBlog.js"></script>
   <script src="/js/logout.js"></script>
</body>
</html>